html {
  text-align: center;
  font-family: helvetica;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 70px;
}

a {
  color: white;
}

ul {
  list-style-type: none;
  display: block;
}

footer {
  text-align: left;
  background-color: dimgray;

}

.banner {
  background-image: url(../images/the-flatiron-building.png);

}

#copyright {
  font-size: 11px;
}
